*{
    margin: 0;
    padding: 0;
}*
.picture-pro-img{
    display: flex !important;
    margin: 20px 10px;
}
.picture-img{
    margin: 0 10px;
}
.picture-img img{
    width: 100%;
    height: 100%;
    
}


  /* meadiaquery  start*/

/* 320px to 480 */

@media only screen and (min-width: 320px) and (max-width: 480px){
    .picture-pro-img{
        overflow-x: scroll;
    }
    .picture-img img{
        width: 205px;
    }  
  } 
  @media only screen and (min-width: 480px) and (max-width: 567px){
    .picture-pro-img{
        overflow-x: scroll;
    }
    .picture-img img{
        width: 205px;
    }  
  
  }
  @media only screen and (min-width: 568px) and (max-width: 767px){
    .picture-pro-img{
        overflow-x: scroll;
    }
    .picture-img img{
        width: 205px;
    }   
  }
   
  
